body {
  margin: 0 auto;
  font-family: "Open Sans" sans-serif; }

header {
  background-color: #313234;
  background-repeat: no-repeat;
  background-attachment: fixed; }

nav img {
  height: 34px;
  margin: 8px 0px 8px 120px;
  float: left; }

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right; }
  nav ul li {
    display: inline-block; }
    nav ul li a {
      color: white;
      text-decoration: none;
      line-height: 50px;
      text-align: center;
      padding: 0 20px;
      text-transform: uppercase; }

li:first-of-type a {
  color: #00D2ED; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.row::before,
.row::after {
  content: "";
  display: table; }

.row::after {
  clear: both; }

section img {
  width: 100%;
  height: 60vh; }

section div h1 {
  color: white;
  margin: 10px 30px;
  text-transform: uppercase;
  padding: 20px auto;
  font-weight: 800; }

.hero {
  position: relative; }

.slogan {
  height: 150px;
  width: 45%;
  background-color: rgba(71, 65, 72, 0.2);
  margin: 0 auto;
  float: right;
  position: absolute;
  bottom: 40%;
  right: 0; }
  .slogan h1:first-line {
    font-weight: 200; }

/* section with 3 icons */
[class*="fa"] {
  float: center;
  width: 90px;
  height: 90px;
  border-radius: 10%;
  margin: 0 auto;
  color: white;
  font-size: 60px;
  line-height: 90px;
  text-align: center; }

.fa-search {
  background-color: #313234; }

.fa-laptop {
  background-color: #00D2ED; }

.fa-cogs {
  background-color: #313234; }

.help {
  display: inline-block;
  float: left;
  height: 250px;
  padding: 0 auto;
  width: 100%;
  text-align: center;
  margin: 60px 0 0 0; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

.col-offset-12 {
  margin-left: 100%; }

.search h3 {
  color: #313234;
  text-transform: uppercase; }

.laptop h3 {
  color: #00D2ED;
  text-transform: uppercase; }

.cogs h3 {
  color: #313234;
  text-transform: uppercase; }

.help p {
  font-style: oblique;
  font-size: 15px;
  margin: -10px 20px 0 20px;
  color: #ABABAB; }

/*!-------- section works -----------*/
.works {
  margin: 10px 0 70px 0;
  text-align: center;
  width: 100%; }
  .works h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: xx-large; }
  .works p {
    font-style: oblique;
    font-size: 17px;
    color: #ABABAB;
    margin: -10px 150px 0 150px; }

/*!-------- gallery -----------*/
.container-gallery {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden; }

[class*="extend-img-"] {
  display: inline-block;
  float: left;
  min-height: 1px;
  padding: 0px;
  width: 100%;
  height: 200px;
  margin: 0;
  position: relative; }

.extend-img-2 {
  width: 20%; }

.extend-img-4 {
  width: 40%; }

.extend-img-offset-2 {
  margin-left: 20px; }

.extend-img-offset-4 {
  margin-left: 40px; }

.extend-img-4 img {
  width: 100%;
  height: 100%; }

.extend-img-2 img {
  width: 100%;
  height: 100%; }

.layer {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 200px;
  transition: top 0.5s linear;
  top: 45%; }
  .layer .fa-link, .layer .fa-search {
    display: none; }

/*!-------- employers -----------*/
.back {
  display: inline-block;
  float: left;
  margin: 120px auto; }

.background {
  position: relative;
  float: left;
  text-align: center;
  width: 95%;
  margin-bottom: 10px; }
  .background img {
    border-radius: 50%;
    width: 100%; }

.name {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
  border-radius: 50%; }
  .name h2 {
    line-height: 240px;
    text-align: center;
    margin: 0px auto;
    display: none;
    color: white;
    text-transform: capitalize; }

.back h3 {
  width: 95%;
  text-align: center;
  color: #5D5D5B;
  text-transform: capitalize; }

/*--awesome title--*/
.section-title {
  width: 100%;
  background-color: #818181;
  height: 400px; }

.awesome {
  overflow: hidden; }

.photo {
  height: 400px;
  padding-top: 70px;
  text-align: center;
  display: inline-block;
  float: left; }
  .photo img {
    width: 100%;
    height: 330px; }

.title {
  margin: 0;
  text-align: left;
  display: inline-block;
  float: left; }
  .title h1 {
    margin: 0 30px;
    text-transform: uppercase;
    color: white;
    margin-top: 100px;
    padding: 0;
    font-size: xx-large;
    font-weight: 800; }

.text-left {
  float: left; }

.text-right {
  float: left;
  overflow: hidden; }

.text-left p {
  margin-left: 30px;
  margin-right: 0px;
  color: white;
  font-size: 17px;
  font-family: open sans; }

.text-right p {
  margin-left: 30px;
  font-style: italic;
  font-weight: 500;
  color: white;
  font-size: 17px;
  padding-right: 100px;
  font-family: open sans; }

@font-face {
  font-family: open sans;
  src: url(sansation_light.woff); }

/* ------numbers------- */
.numbers {
  text-align: center;
  display: inline-block;
  float: left;
  margin: 50px 0; }
  .numbers h4 {
    text-transform: uppercase;
    color: #00D2ED;
    margin: 0; }
  .numbers h1 {
    font-family: fantasy;
    font-weight: 800;
    margin: 0;
    font-size: -webkit-xxx-large;
    font-family: "Fruktur"; }

/*--footer--* */
.footer {
  width: 100%;
  background-color: #313234; }

.about-us {
  display: inline-block;
  float: left;
  color: white;
  margin: 0;
  margin-top: 40px; }
  .about-us h1 {
    font-weight: 800;
    text-transform: uppercase; }
  .about-us p {
    margin: 0;
    padding: 0 20px;
    font-family: open sans; }

.get-in {
  display: inline-block;
  float: left;
  color: white;
  margin-top: 40px; }
  .get-in h1 {
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 40px; }

.social-media {
  display: inline-block;
  float: left;
  color: white;
  margin-top: 40px; }
  .social-media h1 {
    font-weight: 800;
    text-transform: uppercase; }
  .social-media p {
    margin: 0;
    font-family: open sans; }

.col-right, .col-left {
  display: inline-block;
  margin: 0; }
  .col-right p, .col-left p {
    margin-top: 0;
    font-family: open sans;
    margin-left: 40px; }

.col-left {
  float: left; }
  .col-left p {
    margin-top: 0;
    font-weight: 600;
    margin-left: 40px; }

.icons {
  display: inline;
  line-height: 70px;
  padding-left: 20px; }
  .icons .fa {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
    font-size: 20px;
    width: 30px;
    height: 30px;
    background-color: #00D2ED;
    border-radius: 0%; }

.footer-end {
  background-color: #252726;
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 40px;
  height: 50px;
  line-height: 50px; }

@font-face {
  font-family: open sans;
  src: url(sansation_light.woff); }

@media screen and (max-width: 480px) {
  .col-xs-1 {
    width: 8.33%; }
  .col-xs-2 {
    width: 16.66%; }
  .col-xs-3 {
    width: 25%; }
  .col-xs-4 {
    width: 33.33%; }
  .col-xs-5 {
    width: 41.66%; }
  .col-xs-6 {
    width: 50%; }
  .col-xs-7 {
    width: 58.33%; }
  .col-xs-8 {
    width: 66.66%; }
  .col-xs-9 {
    width: 75%; }
  .col-xs-10 {
    width: 83.33%; }
  .col-xs-11 {
    width: 91.66%; }
  .col-xs-12 {
    width: 100%; }
  nav img {
    height: 34px;
    margin: 0 auto;
    padding: 0 auto;
    float: none;
    display: block; }
  nav ul {
    list-style-type: none;
    float: none; }
    nav ul li {
      display: block;
      text-align: center; }
      nav ul li a {
        color: white;
        text-decoration: none;
        text-transform: uppercase; }
  section img {
    max-width: 100%;
    height: 40vh; }
    section img div h1 {
      font-weight: 200;
      margin-left: 2px;
      margin-right: 2px; }
  .slogan {
    height: auto;
    max-width: 70%;
    width: 100%; }
  .icon .col-s-12 {
    max-width: 100%;
    padding: 12px;
    height: auto;
    float: left;
    margin: 0 auto; }
  .works h1 {
    font-size: x-large; }
  .works p {
    font-size: 15px;
    margin: 0;
    padding: 0 10px; }
  .layer {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 100px;
    transition: none;
    top: 25%; }
    .layer .fa-search,
    .layer .fa-link {
      display: inline-block;
      text-align: center;
      line-height: 30px;
      margin: 0 3px;
      font-size: 20px;
      width: 30px;
      height: 30px;
      background-color: white;
      color: #313234; }
  .name {
    max-width: 100%; }
    .name h2 {
      display: flex;
      align-items: center;
      color: black; }
  .back {
    margin: 15px 0 0 0;
    height: auto;
    text-align: center;
    padding-left: 15px; }
    .back h3 {
      text-transform: capitalize; }
  .numbers {
    margin: 0 auto;
    padding: 12px; }
  .section-title {
    height: 300px; }
  .awesome {
    overflow: hidden; }
  .photo img {
    width: 100%;
    height: 230px; }
  .title h1 {
    font-size: x-large;
    font-weight: 600;
    margin: 20px 0px 0 30px;
    padding-right: 2px; }
  .text-left p {
    margin-top: 10px;
    padding-right: 21px; }
  .text-right p {
    margin-top: 10px;
    padding-right: 21px; }
  .footer {
    width: 100%;
    height: auto;
    background-color: #313234; }
  .social-media {
    text-align: center;
    padding: 0;
    margin: 0; }
    .social-media p {
      margin: 0;
      padding-right: 0px;
      font-family: open sans; }
  .about-us {
    margin-top: 0;
    text-align: center; }
  .get-in h1 {
    margin-top: 0;
    text-align: center;
    margin-left: 10px; } }

@media screen and (min-width: 480px) and (max-width: 767px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%; }
  .col-s-2 {
    width: 16.66%; }
  .col-s-3 {
    width: 25%; }
  .col-s-4 {
    width: 33.33%; }
  .col-s-5 {
    width: 41.66%; }
  .col-s-6 {
    width: 50%; }
  .col-s-7 {
    width: 58.33%; }
  .col-s-8 {
    width: 66.66%; }
  .col-s-9 {
    width: 75%; }
  .col-s-10 {
    width: 83.33%; }
  .col-s-11 {
    width: 91.66%; }
  .col-s-12 {
    width: 100%; }
  nav img {
    height: 34px;
    margin: 0 auto;
    padding: 0 auto;
    float: none;
    display: block; }
  nav ul {
    list-style-type: none;
    float: none; }
    nav ul li {
      display: block;
      text-align: center; }
      nav ul li a {
        color: white;
        text-decoration: none;
        text-transform: uppercase; }
  section img {
    max-width: 100%;
    height: 40vh; }
    section img div h1 {
      font-weight: 200; }
  .slogan {
    height: auto;
    max-width: 45%; }
  .icon .col-s-12 {
    max-width: 100%;
    padding: 12px;
    height: auto;
    float: left;
    margin: 0 auto; }
  .works h1 {
    font-size: x-large; }
    .works h1 p {
      font-size: 15px;
      margin: 0 auto; }
  .gallery .col-s-6 {
    max-width: 100%; }
  .layer {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 100px;
    transition: none;
    top: 25%; }
    .layer .fa-search,
    .layer .fa-link {
      display: inline-block;
      text-align: center;
      line-height: 30px;
      margin: 0 3px;
      font-size: 20px;
      width: 30px;
      height: 30px;
      background-color: white;
      color: #313234; }
  .name {
    max-width: 100%; }
    .name h2 {
      display: flex;
      align-items: center;
      color: black; }
  .back {
    margin: 15px 0 0 0;
    height: auto;
    text-align: center; }
    .back h3 {
      text-transform: capitalize; }
  .numbers {
    margin: 0 auto;
    padding: 12px 0; }
  .section-title {
    height: 300px; }
  .photo img {
    width: 100%;
    height: 230px; }
  .title h1 {
    font-size: x-large;
    font-weight: 600;
    margin: 60px 0px 0 30px;
    padding-right: 2px; }
  .text-right {
    height: 202px;
    overflow: overlay;
    margin-top: 10px; }
  .text-left {
    height: 202px;
    overflow: overlay;
    margin-top: 10px; }
  .text-left p {
    margin-top: 0px;
    padding-right: 21px; }
  .text-right p {
    margin-top: 0px;
    padding-right: 21px; }
  .footer {
    width: 100%;
    height: auto;
    background-color: #313234; }
  .social-media {
    text-align: center;
    padding: 0;
    margin: 0; }
    .social-media p {
      margin: 0;
      padding-right: 0px;
      font-family: open sans; }
  .get-in h1 {
    margin-left: 10px; }
  .col-left p {
    margin-left: 10px; }
  .about-us {
    margin-top: 0;
    padding-left: 0; }
  .get-in {
    margin-top: 0; } }

@media (min-width: 768px) {
  /* For desktop: */
  .col-m-1 {
    width: 8.33%; }
  .col-m-2 {
    width: 16.66%; }
  .col-m-3 {
    width: 25%; }
  .col-m-4 {
    width: 33.33%; }
  .col-m-5 {
    width: 41.66%; }
  .col-m-6 {
    width: 50%; }
  .col-m-7 {
    width: 58.33%; }
  .col-m-8 {
    width: 66.66%; }
  .col-m-9 {
    width: 75%; }
  .col-m-10 {
    width: 83.33%; }
  .col-m-11 {
    width: 91.66%; }
  .col-m-12 {
    width: 100%; }
  .layer:hover {
    background-color: rgba(71, 65, 72, 0.2);
    top: 0px; }
  .layer:hover .fa-search,
  .layer:hover .fa-link {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin: 0 3px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    background-color: white;
    color: #313234; }
  .name:hover {
    background: rgba(93, 93, 91, 0.6); }
  .name:hover h2 {
    display: block; } }

/*# sourceMappingURL=main.css.map */